
<app-header></app-header>

<div class="content">
  <h1 class="text-center text-white">Search to see GIthub users and their Repositories</h1>

</div>


<div class="container lastie text-white">
  <div class="row">
    <div class="col-md-4">
      <div>
        <app-github-user 
       [username] = "usersAll.login"
       [useravatar] = "usersAll.avatar_url"
       [userName] = "usersAll.name"
       [userfollower] = "usersAll.followers"
       [userfollowing] = "usersAll.following"
        [userOrganization] = "usersAll.location" >   
        </app-github-user>
      
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="things col-md-4">
      <div *ngFor="let repo of reposAll"> 
        <app-git-repo
          [repoName] = "repo.name"
           [repoDescription]="repo.description"
           [repoUrl]="repo.html_url"
           [repoHomepage]="repo.homepage">
        </app-git-repo>
       </div>
    </div>
  </div>
</div> 





<!-- <app-github-home></app-github-home> -->
