.data{
 background-color: blue;
 Width:200%;
 margin-left:60%;
 padding:40px;
 color: black;

}
.image{
  border: 1px solid white;
  
}

.container{
  display: flex;
  justify-content:space-between;
}