.data{
 background-color: blue;
 Width:160%;
 margin-left:50%;
 padding:30px;
 color: black;

}
.image{
  border: 2px solid white;
  margin-left:80%;
}

/* .data:hover{
  border: 2px solid white;
} */