/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}
body{
  background-image: url("https://videohive.img.customer.envatousercontent.com/files/212542380/Dark%20Background%20%20%20%2001_preview1%20.JPG?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=ab3efa9f0e3a207be2cd980baabe211b");
  background-repeat: repeat;
  background-size: cover;

}
.things{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}