
   
 <!-- <div class="container last">
  <div class="row">
    <div class="col-md-4">
      <div>
        <app-github-user
       
     
       [useravatar] = "usersAll.avatar_url"
       [username] = "usersAll.login"
       [userName] = "usersAll.name"
       [userfollower] = "usersAll.followers"
       [userfollowing] = "usersAll.following"
        [userOrganization] = "usersAll.location" >   
        </app-github-user>
      
      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <p class="text-center text-success">Seach for a specific user and their Repos</p>
<form #form="ngForm" name ="form" (ngSubmit)="search(username)">
  <div class=" form-group mb-6">
    <label for="username" class="form-label text-white">Enter Username</label>
    <input type="text" required class="form-control" id="username" 
    [(ngModel)]="username" name="username">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block"> Enter</button>
</form>
</div>


<div class="container">
  <div class="row">
    <div class="things col-md-4">
      <div *ngFor="let repo of reposAll"> 
        <app-git-repo
          [repoName] = "repo.name"
           [repoDescription]="repo.description"
           [repoUrl]="repo.html_url"
           [repoHomepage]="repo.homepage">
        </app-git-repo>
       </div>
    </div>
  </div>
</div> 




